@font-face {font-family: "w-icon";
  src: url('w-icon.eot?t=1644502313099'); /* IE9*/
  src: url('w-icon.eot?t=1644502313099#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("w-icon.woff2?t=1644502313099") format("woff2"),
  url("w-icon.woff?t=1644502313099") format("woff"),
  url('w-icon.ttf?t=1644502313099') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('w-icon.svg?t=1644502313099#w-icon') format('svg'); /* iOS 4.1- */
}

[class^="w-icon-"], [class*=" w-icon-"] {
  font-family: 'w-icon' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-icon-adobe:before { content: "\ea01"; }
.w-icon-alipay:before { content: "\ea02"; }
.w-icon-aliwangwang:before { content: "\ea03"; }
.w-icon-android-o:before { content: "\ea04"; }
.w-icon-android:before { content: "\ea05"; }
.w-icon-apple:before { content: "\ea06"; }
.w-icon-appstore-o:before { content: "\ea07"; }
.w-icon-appstore:before { content: "\ea08"; }
.w-icon-area-chart:before { content: "\ea09"; }
.w-icon-arrow-down:before { content: "\ea0a"; }
.w-icon-arrow-left:before { content: "\ea0b"; }
.w-icon-arrow-right:before { content: "\ea0c"; }
.w-icon-arrow-up:before { content: "\ea0d"; }
.w-icon-arrows-alt:before { content: "\ea0e"; }
.w-icon-asterisk:before { content: "\ea0f"; }
.w-icon-backward:before { content: "\ea10"; }
.w-icon-baidu:before { content: "\ea11"; }
.w-icon-bar-chart:before { content: "\ea12"; }
.w-icon-barcode:before { content: "\ea13"; }
.w-icon-bell:before { content: "\ea14"; }
.w-icon-camera-o:before { content: "\ea15"; }
.w-icon-caret-down:before { content: "\ea16"; }
.w-icon-caret-left:before { content: "\ea17"; }
.w-icon-caret-right:before { content: "\ea18"; }
.w-icon-caret-up:before { content: "\ea19"; }
.w-icon-check-square-o:before { content: "\ea1a"; }
.w-icon-check-square:before { content: "\ea1b"; }
.w-icon-check:before { content: "\ea1c"; }
.w-icon-chrome:before { content: "\ea1d"; }
.w-icon-circle-check-o:before { content: "\ea1e"; }
.w-icon-circle-check:before { content: "\ea1f"; }
.w-icon-circle-close-o:before { content: "\ea20"; }
.w-icon-circle-close:before { content: "\ea21"; }
.w-icon-circle-o:before { content: "\ea22"; }
.w-icon-close-square-o:before { content: "\ea23"; }
.w-icon-close-square:before { content: "\ea24"; }
.w-icon-close:before { content: "\ea25"; }
.w-icon-cloud-download-o:before { content: "\ea26"; }
.w-icon-cloud-download:before { content: "\ea27"; }
.w-icon-cloud-upload-o:before { content: "\ea28"; }
.w-icon-cloud-upload:before { content: "\ea29"; }
.w-icon-coffee:before { content: "\ea2a"; }
.w-icon-component:before { content: "\ea2b"; }
.w-icon-copy:before { content: "\ea2c"; }
.w-icon-copyright:before { content: "\ea2d"; }
.w-icon-css3:before { content: "\ea2e"; }
.w-icon-cut:before { content: "\ea2f"; }
.w-icon-d-arrow-left:before { content: "\ea30"; }
.w-icon-d-arrow-right:before { content: "\ea31"; }
.w-icon-d-caret:before { content: "\ea32"; }
.w-icon-dashboard:before { content: "\ea33"; }
.w-icon-date:before { content: "\ea34"; }
.w-icon-delete:before { content: "\ea35"; }
.w-icon-dingding:before { content: "\ea36"; }
.w-icon-dislike-o:before { content: "\ea37"; }
.w-icon-document:before { content: "\ea38"; }
.w-icon-dot-chart:before { content: "\ea39"; }
.w-icon-down-circle-o:before { content: "\ea3a"; }
.w-icon-down-circle:before { content: "\ea3b"; }
.w-icon-down-square-o:before { content: "\ea3c"; }
.w-icon-down-square:before { content: "\ea3d"; }
.w-icon-down:before { content: "\ea3e"; }
.w-icon-download:before { content: "\ea3f"; }
.w-icon-edit:before { content: "\ea40"; }
.w-icon-enter:before { content: "\ea41"; }
.w-icon-environment-o:before { content: "\ea42"; }
.w-icon-environment:before { content: "\ea43"; }
.w-icon-eye-o:before { content: "\ea44"; }
.w-icon-eye:before { content: "\ea45"; }
.w-icon-facebook:before { content: "\ea46"; }
.w-icon-file-add:before { content: "\ea47"; }
.w-icon-file-excel:before { content: "\ea48"; }
.w-icon-file-jpg:before { content: "\ea49"; }
.w-icon-file-pdf:before { content: "\ea4a"; }
.w-icon-file-text:before { content: "\ea4b"; }
.w-icon-file-unknown:before { content: "\ea4c"; }
.w-icon-filter:before { content: "\ea4d"; }
.w-icon-firefox:before { content: "\ea4e"; }
.w-icon-folder-add:before { content: "\ea4f"; }
.w-icon-folder-open:before { content: "\ea50"; }
.w-icon-folder:before { content: "\ea51"; }
.w-icon-forward:before { content: "\ea52"; }
.w-icon-foursquare:before { content: "\ea53"; }
.w-icon-frown-o:before { content: "\ea54"; }
.w-icon-frown:before { content: "\ea55"; }
.w-icon-github-o:before { content: "\ea56"; }
.w-icon-github:before { content: "\ea57"; }
.w-icon-global:before { content: "\ea58"; }
.w-icon-heart-off:before { content: "\ea59"; }
.w-icon-heart-on:before { content: "\ea5a"; }
.w-icon-home:before { content: "\ea5b"; }
.w-icon-html5:before { content: "\ea5c"; }
.w-icon-ie:before { content: "\ea5d"; }
.w-icon-inbox:before { content: "\ea5e"; }
.w-icon-information-o:before { content: "\ea5f"; }
.w-icon-information:before { content: "\ea60"; }
.w-icon-laptop:before { content: "\ea61"; }
.w-icon-left-circle-o:before { content: "\ea62"; }
.w-icon-left-circle:before { content: "\ea63"; }
.w-icon-left-square-o:before { content: "\ea64"; }
.w-icon-left-square:before { content: "\ea65"; }
.w-icon-left:before { content: "\ea66"; }
.w-icon-like-o:before { content: "\ea67"; }
.w-icon-link:before { content: "\ea68"; }
.w-icon-linkedin:before { content: "\ea69"; }
.w-icon-linux:before { content: "\ea6a"; }
.w-icon-loading:before { content: "\ea6b"; }
.w-icon-lock:before { content: "\ea6c"; }
.w-icon-login:before { content: "\ea6d"; }
.w-icon-logout:before { content: "\ea6e"; }
.w-icon-mail-o:before { content: "\ea6f"; }
.w-icon-mail:before { content: "\ea70"; }
.w-icon-man:before { content: "\ea71"; }
.w-icon-map:before { content: "\ea72"; }
.w-icon-meh-o:before { content: "\ea73"; }
.w-icon-meh:before { content: "\ea74"; }
.w-icon-menu-fold:before { content: "\ea75"; }
.w-icon-menu-unfold:before { content: "\ea76"; }
.w-icon-menu:before { content: "\ea77"; }
.w-icon-message:before { content: "\ea78"; }
.w-icon-minus-circle-o:before { content: "\ea79"; }
.w-icon-minus-circle:before { content: "\ea7a"; }
.w-icon-minus-square-o:before { content: "\ea7b"; }
.w-icon-minus-square:before { content: "\ea7c"; }
.w-icon-minus:before { content: "\ea7d"; }
.w-icon-mobile:before { content: "\ea7e"; }
.w-icon-more:before { content: "\ea7f"; }
.w-icon-notification:before { content: "\ea80"; }
.w-icon-opera:before { content: "\ea81"; }
.w-icon-paper-clip:before { content: "\ea82"; }
.w-icon-pause-circle-o:before { content: "\ea83"; }
.w-icon-pause-circle:before { content: "\ea84"; }
.w-icon-pause:before { content: "\ea85"; }
.w-icon-pay-circle-o:before { content: "\ea86"; }
.w-icon-pay:before { content: "\ea87"; }
.w-icon-picasa:before { content: "\ea88"; }
.w-icon-picture:before { content: "\ea89"; }
.w-icon-pie-chart:before { content: "\ea8a"; }
.w-icon-pinterest:before { content: "\ea8b"; }
.w-icon-play-circle-o:before { content: "\ea8c"; }
.w-icon-play-circle:before { content: "\ea8d"; }
.w-icon-plus-circle-o:before { content: "\ea8e"; }
.w-icon-plus-circle:before { content: "\ea8f"; }
.w-icon-plus-square-o:before { content: "\ea90"; }
.w-icon-plus-square:before { content: "\ea91"; }
.w-icon-plus:before { content: "\ea92"; }
.w-icon-poweroff:before { content: "\ea93"; }
.w-icon-printer:before { content: "\ea94"; }
.w-icon-qq:before { content: "\ea95"; }
.w-icon-qrcode:before { content: "\ea96"; }
.w-icon-question-circle-o:before { content: "\ea97"; }
.w-icon-question-circle:before { content: "\ea98"; }
.w-icon-reddit:before { content: "\ea99"; }
.w-icon-reload:before { content: "\ea9a"; }
.w-icon-right-circle-o:before { content: "\ea9b"; }
.w-icon-right-circle:before { content: "\ea9c"; }
.w-icon-right-square-o:before { content: "\ea9d"; }
.w-icon-right-square:before { content: "\ea9e"; }
.w-icon-right:before { content: "\ea9f"; }
.w-icon-rollback:before { content: "\eaa0"; }
.w-icon-safari:before { content: "\eaa1"; }
.w-icon-safety:before { content: "\eaa2"; }
.w-icon-save:before { content: "\eaa3"; }
.w-icon-search:before { content: "\eaa4"; }
.w-icon-setting-o:before { content: "\eaa5"; }
.w-icon-setting:before { content: "\eaa6"; }
.w-icon-share:before { content: "\eaa7"; }
.w-icon-shopping-cart:before { content: "\eaa8"; }
.w-icon-shrink:before { content: "\eaa9"; }
.w-icon-smile-o:before { content: "\eaaa"; }
.w-icon-smile:before { content: "\eaab"; }
.w-icon-square-o:before { content: "\eaac"; }
.w-icon-star-off:before { content: "\eaad"; }
.w-icon-star-on:before { content: "\eaae"; }
.w-icon-stop-o:before { content: "\eaaf"; }
.w-icon-stop:before { content: "\eab0"; }
.w-icon-swap-left:before { content: "\eab1"; }
.w-icon-swap-right:before { content: "\eab2"; }
.w-icon-swap:before { content: "\eab3"; }
.w-icon-table:before { content: "\eab4"; }
.w-icon-tag-o:before { content: "\eab5"; }
.w-icon-tag:before { content: "\eab6"; }
.w-icon-tags-o:before { content: "\eab7"; }
.w-icon-tags:before { content: "\eab8"; }
.w-icon-taobao:before { content: "\eab9"; }
.w-icon-time-o:before { content: "\eaba"; }
.w-icon-time:before { content: "\eabb"; }
.w-icon-twitter:before { content: "\eabc"; }
.w-icon-uiw:before { content: "\eabd"; }
.w-icon-unlock:before { content: "\eabe"; }
.w-icon-up-circle-o:before { content: "\eabf"; }
.w-icon-up-circle:before { content: "\eac0"; }
.w-icon-up-square-o:before { content: "\eac1"; }
.w-icon-up-square:before { content: "\eac2"; }
.w-icon-up:before { content: "\eac3"; }
.w-icon-upload:before { content: "\eac4"; }
.w-icon-user-add:before { content: "\eac5"; }
.w-icon-user-delete:before { content: "\eac6"; }
.w-icon-user:before { content: "\eac7"; }
.w-icon-usergroup-add:before { content: "\eac8"; }
.w-icon-usergroup-delete:before { content: "\eac9"; }
.w-icon-verification:before { content: "\eaca"; }
.w-icon-verticle-left:before { content: "\eacb"; }
.w-icon-verticle-right:before { content: "\eacc"; }
.w-icon-video-camera:before { content: "\eacd"; }
.w-icon-warning-o:before { content: "\eace"; }
.w-icon-warning:before { content: "\eacf"; }
.w-icon-weibo:before { content: "\ead0"; }
.w-icon-weixin:before { content: "\ead1"; }
.w-icon-wifi:before { content: "\ead2"; }
.w-icon-windows:before { content: "\ead3"; }
.w-icon-woman:before { content: "\ead4"; }
.w-icon-zoom-in:before { content: "\ead5"; }
.w-icon-zoom-out:before { content: "\ead6"; }

$w-icon-adobe: "\ea01";
$w-icon-alipay: "\ea02";
$w-icon-aliwangwang: "\ea03";
$w-icon-android-o: "\ea04";
$w-icon-android: "\ea05";
$w-icon-apple: "\ea06";
$w-icon-appstore-o: "\ea07";
$w-icon-appstore: "\ea08";
$w-icon-area-chart: "\ea09";
$w-icon-arrow-down: "\ea0a";
$w-icon-arrow-left: "\ea0b";
$w-icon-arrow-right: "\ea0c";
$w-icon-arrow-up: "\ea0d";
$w-icon-arrows-alt: "\ea0e";
$w-icon-asterisk: "\ea0f";
$w-icon-backward: "\ea10";
$w-icon-baidu: "\ea11";
$w-icon-bar-chart: "\ea12";
$w-icon-barcode: "\ea13";
$w-icon-bell: "\ea14";
$w-icon-camera-o: "\ea15";
$w-icon-caret-down: "\ea16";
$w-icon-caret-left: "\ea17";
$w-icon-caret-right: "\ea18";
$w-icon-caret-up: "\ea19";
$w-icon-check-square-o: "\ea1a";
$w-icon-check-square: "\ea1b";
$w-icon-check: "\ea1c";
$w-icon-chrome: "\ea1d";
$w-icon-circle-check-o: "\ea1e";
$w-icon-circle-check: "\ea1f";
$w-icon-circle-close-o: "\ea20";
$w-icon-circle-close: "\ea21";
$w-icon-circle-o: "\ea22";
$w-icon-close-square-o: "\ea23";
$w-icon-close-square: "\ea24";
$w-icon-close: "\ea25";
$w-icon-cloud-download-o: "\ea26";
$w-icon-cloud-download: "\ea27";
$w-icon-cloud-upload-o: "\ea28";
$w-icon-cloud-upload: "\ea29";
$w-icon-coffee: "\ea2a";
$w-icon-component: "\ea2b";
$w-icon-copy: "\ea2c";
$w-icon-copyright: "\ea2d";
$w-icon-css3: "\ea2e";
$w-icon-cut: "\ea2f";
$w-icon-d-arrow-left: "\ea30";
$w-icon-d-arrow-right: "\ea31";
$w-icon-d-caret: "\ea32";
$w-icon-dashboard: "\ea33";
$w-icon-date: "\ea34";
$w-icon-delete: "\ea35";
$w-icon-dingding: "\ea36";
$w-icon-dislike-o: "\ea37";
$w-icon-document: "\ea38";
$w-icon-dot-chart: "\ea39";
$w-icon-down-circle-o: "\ea3a";
$w-icon-down-circle: "\ea3b";
$w-icon-down-square-o: "\ea3c";
$w-icon-down-square: "\ea3d";
$w-icon-down: "\ea3e";
$w-icon-download: "\ea3f";
$w-icon-edit: "\ea40";
$w-icon-enter: "\ea41";
$w-icon-environment-o: "\ea42";
$w-icon-environment: "\ea43";
$w-icon-eye-o: "\ea44";
$w-icon-eye: "\ea45";
$w-icon-facebook: "\ea46";
$w-icon-file-add: "\ea47";
$w-icon-file-excel: "\ea48";
$w-icon-file-jpg: "\ea49";
$w-icon-file-pdf: "\ea4a";
$w-icon-file-text: "\ea4b";
$w-icon-file-unknown: "\ea4c";
$w-icon-filter: "\ea4d";
$w-icon-firefox: "\ea4e";
$w-icon-folder-add: "\ea4f";
$w-icon-folder-open: "\ea50";
$w-icon-folder: "\ea51";
$w-icon-forward: "\ea52";
$w-icon-foursquare: "\ea53";
$w-icon-frown-o: "\ea54";
$w-icon-frown: "\ea55";
$w-icon-github-o: "\ea56";
$w-icon-github: "\ea57";
$w-icon-global: "\ea58";
$w-icon-heart-off: "\ea59";
$w-icon-heart-on: "\ea5a";
$w-icon-home: "\ea5b";
$w-icon-html5: "\ea5c";
$w-icon-ie: "\ea5d";
$w-icon-inbox: "\ea5e";
$w-icon-information-o: "\ea5f";
$w-icon-information: "\ea60";
$w-icon-laptop: "\ea61";
$w-icon-left-circle-o: "\ea62";
$w-icon-left-circle: "\ea63";
$w-icon-left-square-o: "\ea64";
$w-icon-left-square: "\ea65";
$w-icon-left: "\ea66";
$w-icon-like-o: "\ea67";
$w-icon-link: "\ea68";
$w-icon-linkedin: "\ea69";
$w-icon-linux: "\ea6a";
$w-icon-loading: "\ea6b";
$w-icon-lock: "\ea6c";
$w-icon-login: "\ea6d";
$w-icon-logout: "\ea6e";
$w-icon-mail-o: "\ea6f";
$w-icon-mail: "\ea70";
$w-icon-man: "\ea71";
$w-icon-map: "\ea72";
$w-icon-meh-o: "\ea73";
$w-icon-meh: "\ea74";
$w-icon-menu-fold: "\ea75";
$w-icon-menu-unfold: "\ea76";
$w-icon-menu: "\ea77";
$w-icon-message: "\ea78";
$w-icon-minus-circle-o: "\ea79";
$w-icon-minus-circle: "\ea7a";
$w-icon-minus-square-o: "\ea7b";
$w-icon-minus-square: "\ea7c";
$w-icon-minus: "\ea7d";
$w-icon-mobile: "\ea7e";
$w-icon-more: "\ea7f";
$w-icon-notification: "\ea80";
$w-icon-opera: "\ea81";
$w-icon-paper-clip: "\ea82";
$w-icon-pause-circle-o: "\ea83";
$w-icon-pause-circle: "\ea84";
$w-icon-pause: "\ea85";
$w-icon-pay-circle-o: "\ea86";
$w-icon-pay: "\ea87";
$w-icon-picasa: "\ea88";
$w-icon-picture: "\ea89";
$w-icon-pie-chart: "\ea8a";
$w-icon-pinterest: "\ea8b";
$w-icon-play-circle-o: "\ea8c";
$w-icon-play-circle: "\ea8d";
$w-icon-plus-circle-o: "\ea8e";
$w-icon-plus-circle: "\ea8f";
$w-icon-plus-square-o: "\ea90";
$w-icon-plus-square: "\ea91";
$w-icon-plus: "\ea92";
$w-icon-poweroff: "\ea93";
$w-icon-printer: "\ea94";
$w-icon-qq: "\ea95";
$w-icon-qrcode: "\ea96";
$w-icon-question-circle-o: "\ea97";
$w-icon-question-circle: "\ea98";
$w-icon-reddit: "\ea99";
$w-icon-reload: "\ea9a";
$w-icon-right-circle-o: "\ea9b";
$w-icon-right-circle: "\ea9c";
$w-icon-right-square-o: "\ea9d";
$w-icon-right-square: "\ea9e";
$w-icon-right: "\ea9f";
$w-icon-rollback: "\eaa0";
$w-icon-safari: "\eaa1";
$w-icon-safety: "\eaa2";
$w-icon-save: "\eaa3";
$w-icon-search: "\eaa4";
$w-icon-setting-o: "\eaa5";
$w-icon-setting: "\eaa6";
$w-icon-share: "\eaa7";
$w-icon-shopping-cart: "\eaa8";
$w-icon-shrink: "\eaa9";
$w-icon-smile-o: "\eaaa";
$w-icon-smile: "\eaab";
$w-icon-square-o: "\eaac";
$w-icon-star-off: "\eaad";
$w-icon-star-on: "\eaae";
$w-icon-stop-o: "\eaaf";
$w-icon-stop: "\eab0";
$w-icon-swap-left: "\eab1";
$w-icon-swap-right: "\eab2";
$w-icon-swap: "\eab3";
$w-icon-table: "\eab4";
$w-icon-tag-o: "\eab5";
$w-icon-tag: "\eab6";
$w-icon-tags-o: "\eab7";
$w-icon-tags: "\eab8";
$w-icon-taobao: "\eab9";
$w-icon-time-o: "\eaba";
$w-icon-time: "\eabb";
$w-icon-twitter: "\eabc";
$w-icon-uiw: "\eabd";
$w-icon-unlock: "\eabe";
$w-icon-up-circle-o: "\eabf";
$w-icon-up-circle: "\eac0";
$w-icon-up-square-o: "\eac1";
$w-icon-up-square: "\eac2";
$w-icon-up: "\eac3";
$w-icon-upload: "\eac4";
$w-icon-user-add: "\eac5";
$w-icon-user-delete: "\eac6";
$w-icon-user: "\eac7";
$w-icon-usergroup-add: "\eac8";
$w-icon-usergroup-delete: "\eac9";
$w-icon-verification: "\eaca";
$w-icon-verticle-left: "\eacb";
$w-icon-verticle-right: "\eacc";
$w-icon-video-camera: "\eacd";
$w-icon-warning-o: "\eace";
$w-icon-warning: "\eacf";
$w-icon-weibo: "\ead0";
$w-icon-weixin: "\ead1";
$w-icon-wifi: "\ead2";
$w-icon-windows: "\ead3";
$w-icon-woman: "\ead4";
$w-icon-zoom-in: "\ead5";
$w-icon-zoom-out: "\ead6";

